footer {
  grid-area: layout_footer;
  grid-template-areas: '. . footer . .';
}

#footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-divider {
  width: 7px;
  height: 7px;
  display: block;
  background-color: rgba(0, 0, 0, .12);
  border-radius: 50%;
  margin: 0 12px;
}

.footer-divider-logo {
  margin: 0 12px 0 20px;
}